   
    <div class="image" >
        <img src="img/fondo_1.jpg" class="img-fluid">
        <div class="container text-center ">
            <h1>Jugueteria</h1>
           <p class="p-f">Inicie sesión, por favor...</p> -->
            
                
            </div>           
    </div>
    <div class="container">
        <h2 class="text-center mt-5">CONTENIDO</h1>
        <p class="text-justified mt-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Illo cupiditate dignissimos error vitae asperiores quibusdam
                     eligendi modi quia mollitia omnis doloribus totam, molestias,
                    sed consectetur a quaerat ipsa maxime eos. 
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Illo cupiditate dignissimos error vitae asperiores quibusdam
                     eligendi modi quia mollitia omnis doloribus totam, molestias,
                    sed consectetur a quaerat ipsa maxime eos.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Illo cupiditate dignissimos error vitae asperiores quibusdam
                     eligendi modi quia mollitia omnis doloribus totam, molestias,
                    sed consectetur a quaerat ipsa maxime eos.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Illo cupiditate dignissimos error vitae asperiores quibusdam
                     eligendi modi quia mollitia omnis doloribus totam, molestias,
                    sed consectetur a quaerat ipsa maxime eos.</p>
                    <p class="text-justified mt-3">  
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Illo cupiditate dignissimos error vitae asperiores quibusdam
                     eligendi modi quia mollitia omnis doloribus totam, molestias,
                    sed consectetur a quaerat ipsa maxime eos.         
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Illo cupiditate dignissimos error vitae asperiores quibusdam
                     eligendi modi quia mollitia omnis doloribus totam, molestias,
                    sed consectetur a quaerat ipsa maxime eos.</p>   

                    <img src="img/fondo.jpg" class="img-fluid py-4" alt="">

    </div>



    <footer class="footer text-center py-4">
        <div class="container ">
            <p>Steven@correo.com</p>
            <p>Todos los derechos reservados</p>
        </div>
    </footer>
    




    
    