
.navbar{
    background-color:black;
    box-shadow: 0 2px 4px 0 rgba(0red, 0, 0, .05);  
    min-height: 100px;
}
.nav-link{
    color: #ffffff;

}

.nav-link:hover{
    color:darkgray;
}
.navbar-toggler{
    background-color: white;
    font-size: 40px;
}
.navbar-toggler:focus{
    outline: none;
}
.navbar:ml-auto {
    color: white !important;
}
    .image {
        position: relative;
        width: 100%; /* for IE 6 */
        color:rgb(241, 238, 238);
        background-size: cover;
        
        }
    h1 {
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        font-size:100px;
        line-height: 80px;
    }
    .p-f{
        position: absolute;
        top: 250px;
        left: 0px;
        width: 100%;
        font-size: 20px;
        padding: 100px;

    }

.footer{
    background: black !important;
    color: white;
    

}

@media (max-width: 575.98px) { 
    h1{
        font-size: 40px; line-height: normal;
    }
 }


/*@media (min-width: 576px) and (max-width: 767.98px) { ... }


@media (min-width: 768px) and (max-width: 991.98px) { ... }


@media (min-width: 992px) and (max-width: 1199.98px) { ... }

@media (min-width: 1200px) { ... }

    
    
